<!--navbar-->
<div class="banner">
  <h1>Cold Open<h1>
  <h3>Keep track of what you freeze</h3>
</div>

<div class="bottom-center">
  <div class="text">
  <p>Freezing what you're not ready to eat is a great way to save
    food and money. But forgetting what you've frozen is a surefire way to waste
    both. Freezer-burned meat, mystery tupperwares full of God-knows-what, and
    ancient, slumbering jars of . . . well, stuff are the bane of any budget-and-eco-oriented
    home chef.</p>

    <p><strong>Welcome to Cold Open</strong</p>

    <p>This app endeavors to solve these problems by keeping track of what is in your freezer</p>
    <ul>
      <li>See what items are expired and expiring according to FDA guidelines</li>
      <li>Add foods and their storage dates to see when they'll go bad</li>
      <li>Manage multiple freezers in your household</li>
    </ul>
  </div>
</div>
