
<div class="theme-showcase" role="main">

  <div class="left">
    <img src="http://4.bp.blogspot.com/_QJDOQQGmSDU/TMPSLK9uQNI/AAAAAAAAEgI/hqDDaZbJzwQ/s1600/G-516+-+DANA+closes+fridge,+screaming.jpg" width="550" height="325">
  </div>

  <div class="right">
    <h1>COLD OPEN</h1>
    <h3>What's in your freezer?</h3>
    <p><%= link_to "Learn More", about_path%></p>
  </div>


</div>
