<div class="banner">
    <h1>Your Frozen Items</h1>
    <h3><em>Click to see the deets</em></h3>
    <div id="items">
      <!-- <%=any_items_display(@items)%> -->
    </div>
  </div>

<script type="text/javascript" charset="utf-8">//needs to be moved to assets
$(function() {
    $("#items-link").on("click", function(){
      var user = $("#items-link").data().userid
      $.get("/users/"+user+"/items", function(response){
          debugger
       })

    })

    // $.get("/user/"+user+"/items", function(response){
    //   debugger
    // })
  // $("#items").on("click", function() {
  //   debugger
  //   var id = $(this).data("id");
  //   $.get("/products/" + id + ".json", function(data) {
  //     var product = data;
  //     var inventoryText = "<strong>Available</strong>";
  //     if(product["inventory"] === 0){
  //       inventoryText = "<strong>Sold Out</strong>";
  //     }
  //     var descriptionText = "<p>" + product["description"] + "</p><p>" + inventoryText + "</p>";
  //     $("#product-" + id).html(descriptionText);
  //     var orders = product["orders"];
  //     var orderList = "";
  //     orders.forEach(function(order) {
  //       orderList += '<li class="js-order" data-id="' + order["id"] + '">' + order["id"] + ' - ' + order["created_at"] + '</li>';
  //     });
  //     $("#product-" + id + "-orders").html(orderList);
  //   });
  // });
});
</script>
