<div class="banner">
    <h1>Your Frozen Items</h1>
    <h3><em>Click to see the deets</em></h3>
    <div id="items">
    </div>
  </div>

<script type="text/javascript" charset="utf-8">//needs to be moved to assets
$(function() {
    $("#items-link").on("click", function(){
      var user = $("#items-link").data().userid
      $.get("/users/"+user+"/items.json", function(response){
          var data = response.data
          var itemList = ""
          data.forEach(item => {//eventually refactor into Item.prototype function ---may need to fuck with serializer to allow for expiration expiration_zone
            itemList += '<a href="/users/'+user+'/items/'+item.id+'">'+item.attributes.title+':</a></br>'
          })
        $("#items").innerHtml = itemList
       })
    })
});
</script>
