<div class="banner">
  <div class="main">
  <h1>Add a New Frozen Item</h1>
  <%=render partial: 'users/errors', collection: @errors if @item.errors.any?%>
<%=form_for @item, url: user_items_path(current_user) do |f|%>
  <%=render 'new_item_form', f:f%>
<%end%>
</div>
</div>
